@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jordan Chen's Event Booking App</h1>
    <p>Here you can book events, view bookings and delete them</p>
</div>
